[mysqld]
back_log = 32000
basedir = /usr
character_set_server = utf8
collation_server = utf8_general_ci
concurrent_insert = 2
connect_timeout = 5
datadir = /var/lib/mysql
default_storage_engine = InnoDB
enable_feedback = true
expire_logs_days = 10
join_buffer_size = 4M
key_buffer_size = 128M
large_pages = true
lc_messages = en_US
lc_messages_dir = /usr/share/mysql
log_bin = /var/log/mysql/mariadb-bin
log_bin_index = /var/log/mysql/mariadb-bin.index
log_slow_rate_limit = 1000
log_slow_verbosity = query_plan
log_warnings = 2
long_query_time = 10
max_allowed_packet = 16M
max_binlog_size = 100M
max_connections = 100
max_heap_table_size = 32M
myisam_recover_options = BACKUP
myisam_sort_buffer_size = 512M
pid_file = /tmp/mysql.pid
query_cache_limit = 128K
query_cache_size = 64M
query_cache_type = DEMAND
read_buffer_size = 2M
read_rnd_buffer_size = 1M
skip_name_resolve = true
skip_networking = true
slow_query_log_file = /var/log/mysql/slow.log
socket = /tmp/mysql.sock
sort_buffer_size = 4M
table_cache = 400
thread_cache_size = 128
tmp_table_size = 32M
tmpdir = /tmp
wait_timeout = 600
user = mysql
